<div>
  <h2>Student form inputs</h2>
  <h4>Name</h4>
  <h3>
    <%= @name %>
  </h3>
  <h4>Student ID</h4>
  <h3>
    <%= @id %>
  </h3>
  <h4>Grade level</h4>
  <h3>
    <%= @grade_level %>
  </h3>
</div>
